<h1>Greetings, please submit your Article below: </h1>

<form action="/articles" method="POST">
<label for="article">Article:</label>
<input type "text" id="title" name="title">
<br>
<br>
<label for="content">Content:</label>
<input type="text" id ="content" name="content">
<br>
<br>
<input type ="submit" name ="submit">
</form>